@tailwind base;

*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(164, 103, 177, 1);
    border-radius: 14px;
}

@tailwind components;
@tailwind utilities;

@layer components {
    .input {
        @apply bg-primary-bg py-2 px-4 rounded-lg text-lg text-primary placeholder-secondary focus:outline-primary;
    }

    .checked {
        @apply after:content-['\2713'] py-0 px-[0.38rem] bg-primary text-secondary-bg;
    }

    .completed-checkbox {
        @apply bg-primary;
    }

    .completed-text {
        @apply text-secondary font-bold line-through;
    }
}
